<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear producto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="body-create-admin">
    <a href="/"><img src="/images/logo.png" alt="logo" class="logo" id="logo-create"></a>
    <form class="form-admin" method="post" action="/panelAdmin/create" enctype="multipart/form-data">
    <div class="contenedor-form">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" name="name" id="name"  placeholder="nombre" value="<%= locals.oldData ? oldData.name : null%>">
        </div>
        <% if (locals.errors && errors.name){ %>
            <div >
                <p class = "errorMessage"><%= errors.name.msg %></p>
            </div>
            <% } %>

        <div class="form-group">
            <label for="nombre">Descripción</label>
            <input type="text" class="form-control-desc" name="description" id="description" placeholder="descripcion" value="<%= locals.oldData ? oldData.description : null%>">
        </div>
        <% if (locals.errors && errors.description){ %>
            <div >
                <p class = "errorMessage"><%= errors.description.msg %></p>
            </div>
            <% } %>

        <div class="form-group-img">
            <label for="picture">Imagen</label>
            <input type="file" name = "productImage" id="productImage">
        </div>
        <% if (locals.errors && errors.productImage){ %>
            <div class = "errorMessage">
                <%= errors.productImage.msg %>
            </div>
            <% } %>

        <div class="form-group">
            <label for="nombre" class="form-group-cat">Categoria</label>
            <select name = "category" id = "category">
                <option value="empanadas">empanadas</option>
                <option value="alfajores">alfajores</option>
                <option value="mate">mate</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="nombre">Precio</label>
            <input type="number" class="form-control" name="price" id="price" aria-describedby="precio" placeholder="precio" value="<%= locals.oldData ? oldData.price : null%>">
        </div>
        <% if (locals.errors && errors.price){ %>
            <div>
                <p  class = "errorMessage"><%= errors.price.msg %></p>
            </div>
            <% } %>

        <div class="form-group">
            <label for="nombre">Stock</label>
            <input type="number" class="form-control" name="stock" id="stock" value="<%= locals.oldData ? oldData.stock : null%>">
        </div>
        <% if (locals.errors && errors.stock){ %>
            <div>
                <p  class = "errorMessage"><%= errors.stock.msg %></p>
            </div>
            <% } %>
    </div>

        <div class="container-button-create">
            <input type="submit" class="button-admin-create" value = 'Guardar'>
            <a href="/panelAdmin" class="button-admin-create">Cancelar</a>
        </div>
        <ul class="errores"></ul>
    </form>
      
<script src="/js/validacionesFrontProduct.js"></script>

</body>
</html>