<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/6c2885ab71.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Gauchito Git</title>
</head>
<body class="body-detalle">

    <%- include ('./partials/header')%>
    
    <div class="contenedor-detalle">
        
        <img src="/images/<%= product.image %>" alt="image" class="imagen-detalle">
        <div class="detalle-contenedor-derecha">
            <h1><%= product.name %></h1>
            <p><%= product.description %></p>
            <h3>$<%= product.price %></h3>
            <button class="agrega-carrito">AGREGAR</button>
        </div>
    </div>
    

    <%- include ('./partials/footer')%>

</body>
</html>